.article-long {
    display: flex;
    align-items: center;
    padding: 5px 0 5px 20px;
    border-bottom: 2px solid #333;
}
  
.long-top {
    font-weight: bold;
    font-style: italic;
}
  
.article-long h3 {
    width: 425px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    margin-left: 40px;
}
  
.article-long span {
    width: 100px;
    overflow: hidden;
}

.side {
    margin-left: 15px;
    text-align: center;
}

.article-long .comment-span {
    margin-left: 30px;
    width: 700px;
    overflow: hidden;
}
  
.article-long a {
    color: #0085CA;
    cursor: pointer;
    text-decoration: none;  
}
  
.article-long a, .article-long button {
    margin-left: 30px;
}
  
.modal-btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
  
.modal-buttons {
    background: none;
    color: black;
    font-weight: bolder;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}
  
/* Edit/New Formatting */
form {
    display: flex;
    flex-direction: column;
    margin: 5px 20px;
}
  
form label {
    font-weight: bold;
}
  
.top {
    display: flex;
    flex-direction: column;
}
  
.top > :last-child {
    width: fit-content;
}
  
.top > * {
    margin: 2px 0 10px 0;
}
  
.top-row {
    display: flex;
}
  
.top-piece {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
  
.middle {
    display: flex;
    justify-content: center;
}
  
.middle > :first-child {
    width: 100%;
}
  
.CodeMirror {
    height: 300px;
    overflow-y: auto;
}
  
.middle-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 7px 20px;
}
  
.tagsTop {
    display: flex;
    flex-direction: column;
}
  
.tagsTop h3 {
    margin: 0;
}
  
.tagsHeader {
    display: flex;
    align-items: center;
}
  
.tags {
    display: flex;
    overflow-y: scroll;
    flex-wrap: wrap;
    gap: 5px;
    height: 292px;
    width: 226px;
    margin: 5px 0 0 0;
}
  
.tag {
    display: flex;
    align-items: center;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 3px;
    width: min-content;
    height: 20px;
}
  
.tag > input {
    width: 89px;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background-color: lightgray;
}
  
.tag > button {
    background: none;
    color: black;
    border: none;
    padding: 0;
    margin: 0 4px 0 4px;
    font: inherit;
    font-size: small;
    cursor: pointer;
    outline: inherit;
    height: fit-content;
}
  
.newTagBtn {
    background: none;
    color: red;
    border: none;
    padding: 0;
    margin: 0 0 0 15px;
    font: inherit;
    font-size: larger;
    cursor: pointer;
    outline: inherit;
    height: fit-content;
}

.categoryBottom {
    display: flex;
    flex-direction: column;
}

.categoryOptions, .publishOptions {
  display: inherit;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-bottom: 8px;
}

.dropbtn {
    background: transparent;
    color: #0085CA;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px 16px;
    border: 1px solid #0085CA;
    border-radius: 5%;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    text-transform: uppercase;
    font-weight: bold;
    color: #0085CA;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: white;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.burger {
    display: none;
}
  
.burger div {
    width: 25px;
    height: 3px;
    background: #0085CA;
    margin: 5px;
    transition:all 0.5s ease;
}

/* CSS Reset + General Formatting */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
  
body {
    background-color: #eeeeee;
    font-family: motiva-sans, sans-serif;
    font-style: normal;
}